<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} [%thread] [%-5level] [%-9X{TRACING_ID}] %logger - %msg%n</pattern>
        </layout>
    </appender>
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/springboot/logs/capricorn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/springboot/logs/capricorn.log.%d{yyyy-MM-dd}.bak</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{ISO8601} [%thread] [%-5level] %logger - %msg%n</Pattern>
        </layout>

   </appender>

    <!--<logger name="com.atomikos" level="warn"/>-->

    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <!--每个项目生成不通的key-->
        <dsn>http://d73b23c481654b9ca0e4e8a9db310169:daaf5dc2edef462690791ef324316738@sentry.boluome.com/7</dsn>
        <!-- 设置拦截的最低级别为warn 警告-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>