<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<script src="/resource/jquery.js"></script>
<script src="/resource/ajaxfileupload.js"></script>
<script type="text/javascript">

		$(function(){
			
			// 表单提交
			$("#sub").click(function(){
				 
				 if(999 == $("#appName").val()){
					 alert("请选择app！");
					 return;
				 }
				 
				 if(999 == $("#spec").val()){
					 alert("请选择banner尺寸！");
					 return;
				 }
				 
				 if("" == $("#spec").val()){
					 alert("请输入banner位置！");
					 return;
				 }
				 
				 var form = document.getElementById('inputForm');
				 form.action = '${pageContext.request.contextPath}/banner/bannerAdd.do';
				 form.method='POST';
				 form.submit(); 
				 
			});
			
			$("#upLoadImg").click(function(){
				
				var isImg = $("#upload").val();
				if(!new RegExp('.*((.jpg)|(.jpeg)|(.gif)|(.png))$','ig').test(isImg) ){
		            alert("请选择图片文件"); 
		            return false;
			    }
				$.ajaxFileUpload({
					url:"${pageContext.request.contextPath}/uploadImg.do",
					cache:false,
					secureuri:false, 
					type:'post',
					fileElementId : 'upload',
					dataType: 'JSON',
					success: function(data){
						var obj =eval('(' + data + ')');
						var path = obj.path;
						$("#imgPath").val(path);
						$("#img1").attr("src","http://download.zq88.cn/"+path);
						//$("#img1").attr("src","http://10.0.0.112/"+path);
					},
					error: function(data){
						var obj =eval('(' + data + ')');
						alert("banner上传异常！"+obj.res);
					}
				});
			});
			
			
			// 返回
			$("#goBack").click(function(){
				location.href='${pageContext.request.contextPath}/banner/toBanner.do';
			});
			
		});
	</script>
	
	<style type="text/css">
		/* td:first-child{ text-align:right; }
		table td{ position:relative; }
		table input{ width:150px; }
		table span{ position:absolute;top:0;left:160px; } */
	</style>
	
</head>
<body>
	<hr style="size:10px;border-color: red" />
	<h1 align="center">app Banner导入</h1>
	<hr style="size:20px;border-color: red"/>
	

	
	<br/>
	<div style="border-color: red;border-bottom-color: blue">
		<form action="#" method="post" id="inputForm" enctype="multipart/form-data">
			<table align="center"  border="0px" width="600px" >
				<tr>
					<td>app：</td>
					<td>
						<select name="appName" id="appName">
							<option value="999"> 请选择app </option>
							<option value="选股王"> 选股王 </option>
							<option value="跟投王"> 跟投王 </option>
							<option value="华创app"> 华创e智通 </option>
						</select>
					</td>
				</tr>
				<tr>
					<td>位置：</td>
		            <td>
		           		<input type="text" name="location" id="location" size="9px">
		           		<span style="color: red;left:220px;">&nbsp;数字</span>
		            </td>
				</tr>
					<tr>
					<td>图片大小：</td>
					<td>
						<select name="spec" id="spec">
		           			<option value="999" selected="selected"> --请选择banner尺寸-- </option>
		           			<option value="720">720*240</option>
		           			<option value="1080">1080*360</option>
		           			<option value="1242">1242*414</option>
		           		</select>
					</td>
				</tr>
				<tr>
					<td>是否轮播：</td>
					<td>
						<input style="width:20px;" type="radio" name="carousel" value="0" checked="checked">否
						<input style="width:20px;" type="radio" name="carousel" value="1">是
					</td>
				</tr>
				<tr>
					<td>轮播图顺序：</td>
		            <td>
		           		<input type="text" name="ord" size="9px">
		           		<span style="color: red;left:220px;">&nbsp;数字</span>
		            </td>
				</tr>
				<tr>
					<td>是否使用：</td>
		            <td>
						<input style="width:20px;" type="radio" name="inUse" value="1" checked="checked">是
						<input style="width:20px;" type="radio" name="inUse" value="0">否
					</td>
				</tr>
				<tr>
					<td>点击banner后跳转类型：</td>
		            <td>
						<input style="width:20px;" type="radio" name="type" value="h5" checked="checked"> h5
						<input style="width:20px;" type="radio" name="type" value="native"> native 
					</td>
				</tr>
				<tr>
					<td>点击banner后跳转地址：</td>
		            <td>
		           		<input type="text" name="linkUrl" size="65px">
		            </td>
				</tr>
				<tr>
					<td>banner：</td>
					<td><img id="img1" alt="" src="/resource/banner.png" width="260px" height="100px"><td>
				</tr>
				<tr>
					<td></td>
					 <td>
		           		<input type="file" name="upload" id="upload" value="上传banner">
		           		<input type="hidden" name="imgPath" id="imgPath" >
		           		<input type="button" id ="upLoadImg" value="上传">
		            </td>
				</tr>
				<tr>
					<td>title：</td>
		            <td>
		           		<input type="text" name="title" size="30px">
		            </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td>
						<input type="button" value="提交" id="sub">&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="button" value ="返回" id="goBack" >
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>